<div class="container">
  <div class="row">

    <ul ngbNav
        *ngIf="route.snapshot.firstChild.url[0].path === 'my-questions'"
        [activeId]="route.snapshot.firstChild.url[0].path"
        class="nav-tabs">
      <li [ngbNavItem]="link.path"
          *ngFor="let link of navLinks">
        <a ngbNavLink
           [routerLink]="link.path">{{ link.label }}</a>
      </li>
    </ul>

    <nav mat-tab-nav-bar
    *ngIf="route.snapshot.firstChild.url[0].path === 'my-questionnaires'">
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
         routerLinkActive
         #rla="routerLinkActive"
         [active]="rla.isActive">
        {{ link.label }}
      </a>
    </nav>
  </div>

  <router-outlet></router-outlet>

</div>
