<div class="container">
  <div class="row">
    <h4>All questions</h4>
  </div>

  <interview-question-edit-form *ngFor="let q of questions$ | async"
                                [question]="q"
                                (saveRequested)="saveQuestion($event)"
                                (deleteRequested)="deleteQuestion($event)"></interview-question-edit-form>

  <div class="row">
    <div class="col">
    </div>
    <div class="col-1">
      <button type="button"
              class="btn btn-primary"
              (click)="addEmptyQuestion()">Add</button>
    </div>
  </div>
</div>
